inverter:
  inverter_address: 127.0.0.1
  inverter_port: 502
  tcp_read_timeout: 10
  tcp_connect_timeout: 3
  inverter_modbus_uid: 1
influxdb2:
  uri: http://localhost:8086
  org: ""
  bucket: solaris
  token: ""
solaris:
  read_frequency: 30 # in seconds
